<launch>
    <!-- robot description -->
    <arg name="robot_model" default="edu_robot"/>
    <include file="$(find crobot_description)/launch/crobot_description.launch">
        <arg name="robot_model" value="$(arg robot_model)"/>
    </include>

    <!-- crobot control -->
    <arg name="base_port" default="/dev/smart_car"/>
    <arg name="robot_base" default="2wd"/>
    <include file="$(find crobot_control)/launch/crobot_control.launch">
        <arg name="port_name" value="$(arg base_port)"/>
        <arg name="robot_base" value="$(arg robot_base)"/>
    </include>

    <!-- laser -->
    <arg name="laser_port" default="/dev/lidar"/>
    <include file="$(find lslidar_driver)/launch/lslidar_serial.launch">
        <arg name="port_name" value="$(arg laser_port)"/>
    </include>
</launch>
