<launch>

    <!-- Arguments -->

    <arg name="map_name" default="map" />
    <param name = "/virtual_wall/map_name" value = "$(arg map_name)"/>

    <!--start robot and laser sensor-->
    <!--<include file="$(find crobot_bringup)/launch/crobot.launch"/>-->

    <!-- Map server -->
    <arg name="map_file" default="$(find crobot_navigation)/maps/$(arg map_name).yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find crobot_navigation)/launch/include/amcl.launch" />

    <!-- Calls navigation stack packages for compatible lingao base -->
    <!-- Takes reference from env variable LINGAO_MODEL. ie. export LINGAO_MODEL=2wd -->
    <include file="$(find crobot_navigation)/launch/include/move_base.launch" />
</launch>
